<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Cabin|Lobster|Lobster+Two|Montserrat|Roboto" rel="stylesheet">

	<style type="text/css">
	body {
		margin: 0;
	}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-jvectormap-2.0.3.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-jvectormap-2.0.3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-jvectormap-world-mill.js') }}"></script>
	<script type="text/javascript">
	$(function(){
		$('#world-map').vectorMap({
			map: 'world_mill',
			series: {
				regions: [{
					values: [],
					scale: ['#C8EEFF', '#0071A4'],
					normalizeFunction: 'polynomial'
				}]
			},
			onRegionClick: function(e, code){
				window.location = "countrydetail/" + code;
			}
		});
	});
	</script>
</head>
<body>
	<p id="title">Where do you want to go?</p>
	<div id="world-map" />
</body>
</html>



