




<html>
<p>Where do you want to go?</p>
<head>
</head>
<body>

<div style="background-color:red; width:50%; height:50%; float:left">
<a href="weather/iceland"><button type="button">Iceland!</button></a></div>


<div style="background-color:blue; width:50%; height:50%; float:right">
<a href="weather/jamaica"><button type="button">Jamaica!</button></a></div>

<div style="background-color:green; width:50%; height:50%; float:left">
<a href="weather/New York"><button type="button">New York!</button></a></div>

<div style="background-color:orange; width:50%; height:50%; float:right">
<a href="weather/Hong Kong"><button type="button">Hong Kong!</button></a></div>

</body>
</html>