<html>
<head>
	<style type="text/css">
	body {
		margin: 0;
	}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-jvectormap-2.0.3.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-jvectormap-2.0.3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-jvectormap-world-mill.js') }}"></script>
	<script type="text/javascript">
	$(function(){
		$('#world-map').vectorMap({
			map: 'world_mill',
			series: {
				regions: [{
					values: [],
					scale: ['#C8EEFF', '#0071A4'],
					normalizeFunction: 'polynomial'
				}]
			},
			onRegionClick: function(e, code){
				window.location = "countrydetail/" + code;
			}
		});
	});
	</script>
</head>
<body>
	<p id="title">Where do you want to go?</p>
	<div id="world-map" />
</body>
</html>



